<footer class="footer mt-auto py-3 bg-body-tertiary container-fluid">
    <div class="container-fluid">
      <span class="text-body-secondary">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/aboutUs" class="nav-link px-2 text-body-secondary">About</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2024 CompNations</p>
      </span>
    </div>
</footer>