<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About CompNations</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<%-include("partials/header.ejs") %>
<body>
  <div class="container mt-5">
    <h2 class="mt-2">About CompNations</h2>
    <p>Welcome to CompNations!</p>
    <p>My name is Davy Lungu, a passionate and self-taught programmer dedicated to making data-driven comparisons accessible and understandable. CompNations leverages the robust and comprehensive World Bank API to provide you with accurate and up-to-date statistics for a wide range of countries.</p>

    <h3>What We Do</h3>
    <p>CompNations allows you to easily compare various statistics between two countries. Whether you're interested in economic indicators, social metrics, or environmental data, we provide a user-friendly interface to help you analyze and understand the differences and similarities between nations. Our goal is to make complex data accessible and actionable for everyone, from researchers and students to business professionals and curious minds.</p>

    <h3>Our Data Source</h3>
    <p>All the data on CompNations is sourced from the World Bank API, ensuring that you receive reliable and authoritative information. The World Bank is a trusted global institution that collects and disseminates a wealth of data on numerous topics, ranging from economic performance to social progress and environmental sustainability. Data is mainly from 1990 to 2022</p>

    <h3>Why Choose CompNations?</h3>
    <ul>
      <li><strong>Comprehensive Comparisons:</strong> Our platform covers a wide range of statistics, giving you a holistic view of the countries you are comparing.</li>
      <li><strong>User-Friendly Interface:</strong> We prioritize ease of use, allowing you to quickly find and compare the data you need.</li>
      <li><strong>Customizable Options:</strong> Select from multiple statistics and customize your comparison to suit your specific needs.</li>
    </ul>

    <h3>Get in Touch</h3>
    <p>Have questions, suggestions, or feedback? Feel free to reach out to us:</p>
    <ul>
      <li><strong>Cell:</strong> +260 971 090 599</li>
      <li><strong>Email:</strong> <a href="mailto:nklungu@gmail.com">nklungu@gmail.com</a></li>
    </ul>

    <p>Your insights are invaluable as we strive to make CompNations as useful and informative as possible.</p>
    <p>Thank you for visiting, and happy comparing!</p>
  </div>
    <%- include("./partials/footer.ejs") %>       
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
