<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompNations - Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<%- include("./partials/header.ejs") %>
<body>
  
  <main>
    <div class="container">
      <h1 class="text-center mt-5 mb-0 py-5">Welcome to CompNations</h1>
      <p class="text-center mt-0">You can compare Country Statistics, please note the data available is mostly historical data from 1990  to 2022 </p>
      <p class="text-center">Data is from the World Bank API</p>
    </div>
  </main>
  <%- include("./partials/footer.ejs") %>       
  <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>